<div id="external-links" class="cards">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cancún</mat-card-title>
      <mat-card-subtitle>3 días / 2 noches</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Hotel + transporte + actividades.</p>
    </mat-card-content>

    <mat-card-actions>
      <a  href="https://angular.dev" target="_blank" rel="noopener noreferrer" mat-button>Ver más</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>CDMX</mat-card-title>
      <mat-card-subtitle>Fin de semana</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Tour gastronómico y museos.</p>
    </mat-card-content>

    <mat-card-actions>
      <a  href="https://angular.dev" target="_blank" rel="noopener noreferrer" mat-button>Ver más</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Guanajuato</mat-card-title>
      <mat-card-subtitle>2 días</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Callejoneada y centro histórico.</p>
    </mat-card-content>

    <mat-card-actions>
      <a  href="https://angular.dev" target="_blank" rel="noopener noreferrer" mat-button>Ver más</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Puerto Vallarta</mat-card-title>
      <mat-card-subtitle>4 días</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Playa + paseo en barco.</p>
    </mat-card-content>

    <mat-card-actions>
      <a  href="https://angular.dev" target="_blank" rel="noopener noreferrer" mat-button>Ver más</a>
    </mat-card-actions>
  </mat-card>
</div>
